body{font-family:'Open Sans',serif;font-size:18px;overflow-x:hidden;}
.cdesc{text-align:justify;margin-bottom:0;padding-top:70px}
.jumbotron{background-color:rgba(22,160,133,0.1);margin-bottom:0}
#viewer{min-height:100%;width:100%;background-color:transparent;position:absolute;margin:0;padding:0}
.panel-body{margin-top:0;text-align:center;padding:0}
.well{background-color:transparent;border:0 solid transparent!important;font-size:20px;margin-bottom:60px;text-align:center;width:100%}
img{margin-top:40px;margin-bottom:0}
#loadmsg{text-align:center;margin-top:300px;font-size:20px}
#top{margin:0;padding:0.5% 1%;font-size:25px;font-weight:300;position:fixed;top:0;left:0;background-color:rgba(22,160,133,0.6);width:100%;z-index:10;border-radius:0;-o-border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}
.fadeaway{background-color:rgba(22,160,133,0.4)!important}
a{text-decoration:none!important}
.btn{border-radius:0;-o-border-radius:0;-moz-border-radius:0;-webkit-border-radius:0}
#prompter{font-size:40px;padding-top:20px;margin-top:0;height:100%;width:100%;font-weight:300}
#footer{padding:0 10px;background-color:rgba(22,160,133,0.2);margin: 0;text-align:left!important;}
#selcomic{visibility:hidden;width:0;margin:0;padding:0}
#report{width:60%;margin-left:20%;margin-top:5%}
.details{font-size:17px;margin-top:10px}
.details>span{margin-right:10px}
#resume{position:absolute;right:10px;top:5px}
#fbpage{position:absolute;right:10px;top:5px}
span{display:inline-block}
#gohome{margin-left:10px;}
.px{opacity:0}
#footer{position:fixed;bottom:0;width:100%;text-align:center}
.thumbup{width:150px;height:150px;display:inline-block;margin-right:29px;margin-bottom:20px;text-align:left;overflow:hidden;border:1px solid #000;background-color:#fff;cursor:pointer;}
.thumb{width:150px;height:150px;overflow:hidden;margin-bottom:0;position:relative;z-index:2;background-color:#fff}
.thumb>img{width:150px;margin-top:0px;}
.thumbname{position:relative;top:-35px;width:100%;text-align:left;padding-left:5px;font-size:14px;font-weight:400}
#gotofb, #gototwitter {width:35px;}

@media screen and (max-width:768px) {
body{font-size:10px!important}
.cdesc{font-size:15px!important}
.cdesc>h1{font-size:20px!important}
.px{opacity:1}
#top{position:absolute;height:45px;}
.cdesc{padding:5px;padding-top:80px;}
#prompter{font-size:20px;padding-top:80px;}
#gohome{width:17%;display:inline-block;height:35px;padding:5px;text-align:center;}
.panel-body{margin:0px;width:100%!important}
.copt{visibility:hidden;width:0}
.cd-dropdown,.cd-select{width:74%;display:inline-block;margin-left:18%}
#resume{position:absolute;top:50px;left:5%;width:90%;font-size:14px}
#footer{visibility:hidden}
#fbpage{position:absolute;top:70px;left:5%;width:90%;visibility: hidden;}
.well>img{width:100%}
.well>iframe{width:100%}
#report{width:90%;margin-left:5%;margin-top:5%}
.thumbup{width:48%;height:0px;display:inline-block;margin-right:0px;margin-bottom:40px;text-align:left}
.thumb{width:0px;height:0px;overflow:hidden;border:1px solid #000;margin-bottom:0;visibility:hidden;position:absolute;}
.thumb>img{width:1px!important;margin-top:0px;height:1px!important;}
.thumbup>a>.btn{width:100%;margin:0;}
.index-cdesc{height:0;visibility:hidden}
#prompter{font-size:30px;padding-top:20px;margin-top:0;height:100%;width:100%;font-weight:300}
}